{% extends 'app/paginaMaestra.html' %} 
{% block body %}
<div class="container page">
    <div id="content" class="container main">
        <div>
            <div class="tituloPrincipal">
                <h2>Resultado del Entrenamiento</h2>
            </div>

            <div class="cCeleste contInterno borderRadius center">
                <div class="container-fluid songs-container">

                    <div class="row">

                        <!-- Left Info -->
                        <div class="col-sm-4 col-md-3">
                            <div class="panel panel-default bgTransparent borderNone middle">
                                <div class="panel-body">
                                    
                                    <div class="aCentro"><span class="glyphicon glyphicon-wrench f45"></span></div>
                                </div>
                            </div>
                        </div>

                        <!-- Right Info -->
                        <div class="col-sm-8 col-md-9">
                            <div class="panel panel-default">
                                <div class="panel-body">

                                    <label><b>Estado Final:</b> --{{ sujeto_identificado }}</label>
                                    <label><b>Respuesta:</b> --{{ img_similar }}</label>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
{% endblock %}
