{% extends 'app/paginaMaestra.html' %} {% block body %}
<div class="container page">
    <div id="content" class="container main">
        <div>
            <div class="tituloPrincipal">
                <h2>Reconocimiento de Rostros</h2>
            </div>

            <div class="cCeleste contInterno borderRadius center">
                <div class="cWhite">
                    <h1>Datos</h1>
                    <p class="opacity1">Reconocimiento</p>
                </div>


                <form class="w3-container bgWhite paddingAll paddingTopDown contInterno2" role="form" action="" method="POST" enctype="multipart/form-data">
                    <label><b>Ruta de la Imagen</b></label>
                    {% csrf_token %} {% include 'app/form_template.html' %}
                    
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="w3-button w3-teal w3-right borderRadius">Ejecutar</button>
                        </div>
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>
{% endblock %}
