{% load staticfiles %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Eigen Faces</title>
    <link rel="icon" href="{% static 'acercaDe/img/EF.png'%}">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'acercaDe/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'acercaDe/css/main.css' %}">
    

</head>

<body>
    <div id="header" class="header navbar navbar-static-top">

        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Eigen Faces</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/">Inicio</a></li>
                        <li><a href="/reconocimiento">Reconocimiento</a></li>
                        <li><a href="/entrenamiento">Entrenamiento</a></li>
                        <li><a href="/acercaDe">Acerca De</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Armando L.C.</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Cerrar</a></li>
                    </ul>
                </div>
            </div>
        </nav>

    </div>
    <div class="container page">
        <div id="content" class="container main">
            <div class="container-fluid text-center">
                <h2>Eigen Faces</h2>
                <h4>Es una aplicación dedicada al reconocimiento de rostros.</h4>
                <br>
                <div class="row">
                    <div class="col-sm-4">
                        <span class="glyphicon glyphicon-search"></span>
                        <h4>Reconocimiento</h4>
                        <p>La aplicación presenta un módulo para el reconocimiento de rostros, donde se tendrá una base de datos muestral y de ahí se tomarán las respectivas fotos</p>
                    </div>
                    <div class="col-sm-4">
                        <span class="glyphicon glyphicon-wrench"></span>
                        <h4>Entrenamiento</h4>
                        <p>Esta sección permitirá al usuario introducir nuevos rostros o sujetos</p>
                    </div>
                    <div class="col-sm-4">
                        <span class="glyphicon glyphicon-plus"></span>
                        <h4>Funcionalidad Extra</h4>
                        <p>Se implementará una funcionalidad extra que más adelante se estará especificando</p>
                    </div>
                </div>
            </div>
            <br>
            <div class="row ">
                <p>Respecto a los responsables del acarramiento de este proyecto se encuentran los estudiantes:</p>

                {% if integrantes %}
                <ul>
                    {% for integrante in integrantes %}
                    <li><a href="{% url 'acercaDe:detail' integrante.id %}">{{ integrante }}</a></li>
                    {% endfor %}
                </ul>
                {% else %}
                <p>No members.</p>
                {% endif %}

                <p>Mismos que cursan la carrera de Ingeniería en Computación, en el Instituto Tecnológico de Costa Rica.</p>
            </div>
        </div>

    </div>
    <div class="container page">
        <div class="footer-bottom page">
            <div class="footer-left">
                <a href="/acercaDe">Acerca De</a> |
                <a href="/">Inicio</a>
            </div>
            <div class="footer-right">
                <span>&copy; 2017 Aseguramiento de la calidad, Eigen_Faces</span>
            </div>
        </div>
    </div>

</body>

</html>
