{% extends 'app/paginaMaestra.html' %} {% block body %}

<div class="container page">
    <div id="content" class="container main">
        <div class="container-fluid text-center">
            <div class="tituloPrincipal">
                <h2>Eigen Faces</h2>
            </div>
            <h4>Es una aplicación dedicada al reconocimiento de rostros.</h4>

            <div class="row">
                <div class="col-sm-4">
                    <span class="glyphicon glyphicon-search"></span>
                    <h4>Reconocimiento</h4>
                    <p>La aplicación presenta un módulo para el reconocimiento de rostros, donde se tendrá una base de datos muestral y de ahí se tomarán las respectivas fotos</p>
                </div>
                <div class="col-sm-4">
                    <span class="glyphicon glyphicon-wrench"></span>
                    <h4>Entrenamiento</h4>
                    <p>Esta sección permitirá al usuario introducir nuevos rostros o sujetos</p>
                </div>
                <div class="col-sm-4">
                    <span class="glyphicon glyphicon-plus"></span>
                    <h4>Funcionalidad Extra</h4>
                    <p>Se implementará una funcionalidad extra que más adelante se estará especificando</p>
                </div>
            </div>
        </div>
        <br>
        <div class="row ">
            <p>Respecto a los responsables del acarramiento de este proyecto se encuentran los estudiantes:</p>

            {% if integrantes %}
            <ul>
                {% for integrante in integrantes %}
                <li><b>{{ integrante }}</b></li>
                {% endfor %}
            </ul>
            {% else %}
            <p>No members.</p>
            {% endif %}

            <p>Mismos que cursan la carrera de Ingeniería en Computación, en el Instituto Tecnológico de Costa Rica.</p>
        </div>
    </div>
</div>

{% endblock %}
