{% extends 'app/paginaMaestra.html' %} {% block body %}

<div class="container page">
    <div id="content" class="container main">

        <div class="tituloPrincipal">
            <h2>Entrenamiento del Sistema</h2>
        </div>

        <div class="cCeleste contInterno borderRadius center">
            <div class="cWhite">
                <h1>Datos</h1>
                <p class="opacity1">Entrenamiento</p>
            </div>

            <form class="w3-container bgWhite paddingAll paddingTopDown contInterno2" action="" method="POST">
                {% csrf_token %}
                <div class="w3-section">
                    <label><b>Porcentaje Colección</b></label>
                    <div class="inline">
                        <input type="range" max="100" min="0" oninput="document.getElementById('valPorColeccionLabel').innerHTML = this.value;" step="1" name="porcentaje_coleccion" id="porcentaje_coleccion" value="90">
                        <label class="marginIzq" for="porcentaje_coleccion" id="valPorColeccionLabel">90</label>
                    </div>
                </div>

                <div class="w3-section">
                    <label><b>Porcentaje Valores</b></label>
                    <div class="inline">
                        <input type="range" max="100" min="0" oninput="document.getElementById('valPorValoresLabel').innerHTML = this.value;" step="1" name="porcentaje_valores" id="porcentaje_valores" value="70">
                        <label class="marginIzq" for="porcentaje_valores" id="valPorValoresLabel">70</label>
                    </div>
                </div>

                <div class="w3-section">
                    <label><b>Porcentaje Aceptación</b></label>
                    <div class="inline">
                        <input type="range" max="100" min="0" oninput="document.getElementById('valPorAceptacionLabel').innerHTML = this.value;" step="1" name="porcentaje_aceptacion" id="porcentaje_aceptacion" value="50">
                        <label class="marginIzq" for="porcentaje_aceptacion" id="valPorAceptacionLabel">50</label>
                    </div>
                </div>
                <button type="submit" class="w3-button w3-teal w3-right borderRadius">Ejecutar</button>
            </form>
        </div>
    </div>
</div>


{% endblock %}
