<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{% block title %}Eigen Faces{% endblock %}</title> {% load staticfiles %}
    <link rel="shortcut icon" type="image/png" href="{% static 'app/img/EF.png'%}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="{% static 'app/css/main.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
        var loadFile = function (event) {
            var output = document.getElementById('output');
            output.src = URL.createObjectURL(event.target.files[0]);
        };
        
        $(document).ready(function () {
            $('input[type="checkbox"]').change(function () {
                if ($('input[type="url"]').attr('required')) {
                    $('input[type="url"]').removeAttr('required');
                }
                else {
                    $('input[type="url"]').attr('required', 'required');
                }
            });
        });
    </script>
</head>

<body>
    <div id="header" class="header navbar navbar-static-top ">
        <nav class="navbar navbar-inverse headerBorder">
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li> <img src="{% static 'app/img/EF.png' %}" alt="Logo" width="40px" height="40px"> </li>
                </ul>
                <ul class="nav navbar-nav">
                    <li><a href="/autoCaras/reconocimiento"><span class="glyphicon glyphicon-eye-open f16"></span> Reconocimiento</a></li>
                    <li><a href="/autoCaras/entrenamiento"><span class="glyphicon glyphicon-cog f16"></span> Entrenamiento y Evaluación</a></li>
                    <li><a href="/autoCaras/acercaDe"><span class="glyphicon glyphicon-question-sign f16"></span> Acerca De</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a><span class="glyphicon glyphicon-leaf f16"></span> &copy;Aseguramiento de la calidad, Eigen_Faces</a></li>
                </ul>
            </div>
        </nav>
    </div> {% block body %} {% endblock %} </body>

</html>