{% extends 'app/paginaMaestra.html' %} {% block body %}

<div class="container page">
    <div id="content" class="container main">
        <div>
            <div class="tituloPrincipal">
                <h2>Resultado del Reconocimiento</h2>
            </div>

            <div class="cCeleste contInterno borderRadius center">
                <div class="container-fluid songs-container">

                    <div class="row">

                        <!-- Left Info -->
                        <div class="col-sm-4 col-md-3">
                            <div class="panel panel-default">
                                <div class="panel-body">

                                    {% if ruta_img %}
                                    <img src="{{ ruta_img }}" class="img-responsive"> {% else %}
                                    <h3><span class="glyphicon glyphicon-picture"></span></h3> {% endif %}
                                </div>
                            </div>
                        </div>

                        <!-- Right Info -->
                        <div class="col-sm-8 col-md-9">
                            <div class="panel panel-default">
                                <div class="panel-body">

                                    {% if estado == 'OK' %}
                                        <label><b>Estado de Finalización:</b> {{ mensaje }}</label>
                                    <label><b>Sujeto Identificado:</b> {{ sujeto_identificado }}</label>
                                    <label><b>Imagen Similar:</b> {{ img_similar }}</label>
                                    <label><b>Grado de Similitud:</b> {{ grado_similitud }}</label>
                                    {% else %}
                                        <label><b>Estado de Finalización:</b> {{ mensaje }}</label>
                                    {% endif %}

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
