{% extends 'app/paginaMaestra.html' %} {% block body %}

<div class="container page">
    <div id="content" class="container main">
        <div>
            <div class="tituloPrincipal">
                <h2>Resultado del Reconocimiento</h2>
            </div>

            <div class="cCeleste contInterno borderRadius center box-shadowDer">
                <div class="container-fluid songs-container">

                    <div class="row">

                        <!-- Left Info -->
                        <div class="col-sm-4 col-md-3">
                            <div class="panel panel-default">
                                <div class="panel-body">

                                    {% if ruta_img %}
                                    <img src="{{ ruta_img }}" class="img-responsive"> {% else %}
                                    <h3><span class="glyphicon glyphicon-picture"></span></h3> {% endif %}
                                </div>
                            </div>
                        </div>

                        <!-- Right Info -->
                        <div class="col-sm-8 col-md-9">
                            <div class="panel panel-default">
                                <div class="panel-body">

                                    {% if estado == 'OK' %}
                                    <div class="marginBottom">
                                        <label class="marginDer">Estado de Finalización:</label>
                                        <resp>{{ mensaje }}</resp>
                                    </div>
                                    <div class="marginBottom">
                                        <label class="marginDer">Sujeto Identificado:</label>
                                        <resp>{{ sujeto_identificado }}</resp>
                                    </div>

                                    <div class="marginBottom">
                                        <label class="marginDer">Imagen Similar:</label>
                                        <resp>{{ img_similar }}</resp>
                                    </div>

                                    <div>
                                        <label class="marginDer">Grado de Similitud:</label>
                                        <resp>{{ grado_similitud }}</resp>
                                    </div>

                                    {% else %}
                                    <div>
                                        <label class="marginDer">Estado de Finalización:</label>
                                        <resp>{{ mensaje }}</resp>
                                    </div>

                                    {% endif %}

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
