.masthead {
    padding: 30px 0 30px;
    margin-bottom: 0;
}
.masthead h1 {
    font-size: 75px;
    line-height: 1;
    letter-spacing: -2px;
    font-weight: bold;
}
.header-section {
    padding: 50px 0;
    background: #222;
    position: absolute;
    top: 40px;
    left: 0px;
    width: 100%;
    padding-left: 0;
    margin-left: 0;
    color: #FFF;
}
.header-row {
    width: 960px;
    margin: auto;
}
.header-push {
    height: 250px;
}
.main {
    padding-top: 20px;
    min-height: 370px;
}
.footer-left {
    float: left;
}
.footer-right {
    float: right;
}
.footer-bottom {
    position: absolute;
    width: inherit;
    bottom: 5px;
}
.flashes {
    list-style-type: none;
    margin-left: 0;
}
.aCentro {
    text-align: center;
}
.tituloPrincipal {
    text-align: center;
    color: #444;
}
.paddingAll {
    padding: 10px;
}
.borderRadius {
    border-radius: 15px 0px;
}
.borderRadiusAll {
    border-radius: 5px 5px;
}
.borderRadiusDer{
    border-radius: 15px 0px 0px 15px;
}
.borderRadiusIzq{
    border-radius: 0px 15px 15px 0px;
}
.paddingTopDown {
    padding: 14px;
}
.width {
    width: 70%;
}
.cCeleste {
    background-color: #009688!important;
}
.cWhite {
    color: #fff;
}
.bgWhite {
    background-color: #fff;
}
.opacity1 {
    opacity: 0.6;
}
.box-shadowDer{
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}
.box-shadowIzq{
    box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.2);
}
.contInterno {
    padding: 20px;
}
.marginBottom {
    margin-bottom: 5px;
}
.marginTop {
    margin-top: 5px;
}
.marginIzq {
    margin-left: 5px;
}
.marginDer {
    margin-right: 5px;
}
.bgGrisOscuro {
    background-color: #101010;
}
.input1 {
    width: 100%;
}
.input1:hover {
    border-color: darkcyan;
}
.center {
    margin: auto;
    width: 70%;
}

.footerPosition {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
.cBlue {
    color: aqua;
}
.headerBorder {
    border-radius: 0px;
    padding: 7px 15px 7px 15px;
}
.contInterno2 {
    border-radius: 5px;
}
.f14 {
    font-size: 14px;
}
.f16 {
    font-size: 16px;
}
.f18 {
    font-size: 18px;
}
.f20 {
    font-size: 20px;
}
.f45 {
    font-size: 45px;
}

.bgTransparent {
    background-color: transparent;
}
.borderNone {
    border: None;
}
.middle {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.inline {
    display: flex;
}
body {
    min-height: 100vh;
    background: white url("../img/face2.jpg") no-repeat bottom right;
}

/*Estilo del Input de tipo RANGE*/

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 13.8px 0;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 10px;
    border-radius: 3px;
    background: #77aabb;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -14px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #3174ad;
}


/*Estilos para el selector de archivos*/
.ImageContainer{
    width: 100px;
    height: 100px;
}





/* CSS Created by CSS CHECKBOX */
/**********************************/
/**** www.CSScheckbox.com *********/

/*general styles for all CSS Checkboxes*/
label {
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

input[type=checkbox].css-checkbox {
	  position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height:1px; 
    width:1px; 
    margin:-1px; 
    padding:0;
    border:0;
}

input[type=checkbox].css-checkbox + label.css-label {
	padding-left:20px;
	height:15px; 
	display:inline-block;
	line-height:15px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
	cursor:pointer;
}

input[type=checkbox].css-checkbox:checked + label.css-label {
	background-position: 0 -15px;
}

.css-label{
	background-image:url(http://csscheckbox.com/checkboxes/dark-check-green.png);
}

/*specific classes related to Checkbox skins*/

.lite-green-check{background-image:url(http://csscheckbox.com/checkboxes/lite-green-check.png);}
.lite-blue-check{background-image:url(http://csscheckbox.com/checkboxes/lite-blue-check.png);}
.lite-gray-check{background-image:url(http://csscheckbox.com/checkboxes/lite-gray-check.png);}
.lite-cyan-check{background-image:url(http://csscheckbox.com/checkboxes/lite-cyan-check.png);}
.lite-orange-check{background-image:url(http://csscheckbox.com/checkboxes/lite-orange-check.png);}
.lite-red-check{background-image:url(http://csscheckbox.com/checkboxes/lite-red-check.png);}

.lite-x-cyan{background-image:url(http://csscheckbox.com/checkboxes/lite-x-cyan.png);}
.lite-x-gray{background-image:url(http://csscheckbox.com/checkboxes/lite-x-gray.png);}
.lite-x-blue{background-image:url(http://csscheckbox.com/checkboxes/lite-x-blue.png);}
.lite-x-orange{background-image:url(http://csscheckbox.com/checkboxes/lite-x-orange.png);}
.lite-x-red{background-image:url(http://csscheckbox.com/checkboxes/lite-x-red.png);}
.lite-x-green{background-image:url(http://csscheckbox.com/checkboxes/lite-x-green.png);}

.mac-style{background-image:url(http://csscheckbox.com/checkboxes/mac-style.png);}
.mario-style{background-image:url(http://csscheckbox.com/checkboxes/mario-style.png);}
.alert-style{background-image:url(http://csscheckbox.com/checkboxes/alert-style.png);}
.lite-plus{background-image:url(http://csscheckbox.com/checkboxes/lite-plus.png);}
.dark-plus{background-image:url(http://csscheckbox.com/checkboxes/dark-plus.png);}
.dark-plus-cyan{background-image:url(http://csscheckbox.com/checkboxes/dark-plus-cyan.png);}
.dark-plus-orange{background-image:url(http://csscheckbox.com/checkboxes/dark-plus-orange.png);}
.dark-check-cyan{background-image:url(http://csscheckbox.com/checkboxes/dark-check-cyan.png);}
.dark-check-green{background-image:url(http://csscheckbox.com/checkboxes/dark-check-green.png);}
.dark-check-orange{background-image:url(http://csscheckbox.com/checkboxes/dark-check-orange.png);}


.depressed-lite-small{background-image:url(http://csscheckbox.com/checkboxes/depressed-lite-small.png);}
.elegant{background-image:url(http://csscheckbox.com/checkboxes/elegant.png);}
.depressed{background-image:url(http://csscheckbox.com/checkboxes/depressed.png);}
.chrome-style{background-image:url(http://csscheckbox.com/checkboxes/chrome-style.png);}
.web-two-style{background-image:url(http://csscheckbox.com/checkboxes/web-two-style.png);}
.vlad{background-image:url(http://csscheckbox.com/checkboxes/vlad.png);}
.klaus{background-image:url(http://csscheckbox.com/checkboxes/klaus.png);}

input[type=checkbox].css-checkbox.med + label.css-label.med {
	padding-left:22px;
    height:17px; 
	display:inline-block;
	line-height:17px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
    cursor:pointer;
}

input[type=checkbox].css-checkbox.med:checked + label.css-label.med {

    background-position: 0 -17px;
}
input[type=checkbox].css-checkbox.sme + label.css-label.sme {
	padding-left:22px;
    height:16px; 
	display:inline-block;
	line-height:16px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
    cursor:pointer;
}

input[type=checkbox].css-checkbox.sme:checked + label.css-label.sme{

    background-position: 0 -16px;
}
input[type=checkbox].css-checkbox.lrg + label.css-label.lrg {
	padding-left:22px;
    height:20px; 
	display:inline-block;
	line-height:20px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
    cursor:pointer;
}

input[type=checkbox].css-checkbox.lrg:checked + label.css-label.lrg{

    background-position: 0 -20px;
}




resp{
    font-family: "Roboto", "Lucida Grande", Verdana, sans-serif;
    font-size: 16px;
}